[Unit]
Description=VistaIOT Database Viewer Service
After=network.target

[Service]
User=rohan
WorkingDirectory=/home/rohan/Public/warp/modbus-gate/backend
ExecStart=/home/rohan/Public/warp/modbus-gate/backend/venv/bin/sqlite_web vistaiot.db --host 0.0.0.0 --port 8090 --no-browser
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
