# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Env
.venv/
venv/
env/

# Node
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log

# Build
dist/
build/

# Other
.env

